body{
margin：0；
}
.mod {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 256.27vw;
  height: 658.8vw;
}
.mod .color {
  position: absolute;
  top: 305.87vw;
  right: 16.67vw;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 45.33vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .bd {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  width: 256.13vw;
  height: 282.93vw;
}
.mod .group {
  display: flex;
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  align-items: flex-start;
  flex-direction: row;
  background-color: #232423;
  width: 256.13vw;
  height: 139.07vw;
}
.mod .coverWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 4.13vw;
  width: 224.8vw;
  height: 126.4vw;
}
.mod .cover {
  position: relative;
  width: 224.8vw;
  height: 126.4vw;
}
.mod .takeListenWrap {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 71.6vw;
  left: 44.27vw;
  align-items: center;
  flex-direction: row;
  border-radius: 39px;
  background-color: #ffc80a;
  padding-right: 6.8vw;
  padding-left: 6.8vw;
  height: 10.4vw;
}
.mod .takeListen {
  opacity: 1;
  text-align: center;
  line-height: 2.67vw;
  letter-spacing: 3.2;
  color: #212121;
  font-size: 2.13vw;
  font-weight: 400;
}
.mod .desc {
  position: absolute;
  top: 56.53vw;
  left: 42.53vw;
  opacity: 1;
  line-height: 3.87vw;
  color: #f4ebeb;
  font-size: 3.33vw;
  font-weight: 400;
}
.mod .title {
  position: absolute;
  top: 37.2vw;
  left: 40vw;
  opacity: 1;
  line-height: 13.73vw;
  color: #ffffff;
  font-size: 13.2vw;
  font-weight: 400;
}
.mod .largeItem {
  position: absolute;
  top: 0vw;
  right: 13.47vw;
  width: 123.2vw;
  height: 122.93vw;
}
.mod .layerWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 256.13vw;
  height: 144.4vw;
}
.mod .layer {
  position: relative;
  width: 256.13vw;
  height: 144.4vw;
}
.mod .sousuo {
  position: absolute;
  top: 6.4vw;
  right: 9.2vw;
  width: 2.8vw;
  height: 2.8vw;
}
.mod .aboutusContact {
  position: absolute;
  top: 6vw;
  right: 28.13vw;
  opacity: 1;
  text-indent: 60;
  line-height: 2.67vw;
  letter-spacing: 2.4;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 1.6vw;
  font-weight: normal;
}
.mod .langmonde {
  position: absolute;
  top: 5.6vw;
  left: 7.2vw;
  opacity: 1;
  line-height: 4.4vw;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 3.87vw;
  font-weight: normal;
}
.mod .colorDiv {
  position: absolute;
  top: 64.13vw;
  left: 7.33vw;
  border-radius: 15px;
  background-color: #ffffff;
  width: 2vw;
  height: 2vw;
}
.mod .color_2 {
  position: absolute;
  top: 70.13vw;
  left: 7.73vw;
  border-radius: 9px;
  background-color: rgba(255,255,255,0.50);
  width: 1.2vw;
  height: 1.2vw;
}
.mod .colorDiv_2 {
  position: absolute;
  top: 74.27vw;
  left: 7.73vw;
  border-radius: 9px;
  background-color: rgba(255,255,255,0.50);
  width: 1.2vw;
  height: 1.2vw;
}
.mod .color_3 {
  position: absolute;
  top: 78.53vw;
  left: 7.73vw;
  border-radius: 9px;
  background-color: rgba(255,255,255,0.50);
  width: 1.2vw;
  height: 1.2vw;
}
.mod .img {
  position: absolute;
  top: 84.67vw;
  right: 18.53vw;
  width: 1.07vw;
  height: 1.73vw;
}
.mod .learnMore {
  position: absolute;
  top: 84.27vw;
  right: 26.4vw;
  opacity: 1;
  text-align: center;
  line-height: 2.67vw;
  letter-spacing: 2;
  color: #ffc80a;
  font-family: Helvetica;
  font-size: 1.33vw;
  font-weight: normal;
}
.mod .langmonde_2 {
  position: absolute;
  top: 48vw;
  right: 14.53vw;
  opacity: 1;
  text-align: right;
  line-height: 9.87vw;
  color: #ffffff;
  font-family: ComicSansMS-Bold, Comic Sans MS;
  font-size: 18vw;
  font-weight: bold;
}
.mod .main {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 2.67vw;
  width: 220vw;
  height: 72.27vw;
}
.mod .txt {
  position: absolute;
  top: 3.33vw;
  left: 86.93vw;
  opacity: 1;
  text-align: center;
  line-height: 13.2vw;
  letter-spacing: 14.2;
  color: #212121;
  font-size: 9.47vw;
  font-weight: 400;
}
.mod .group_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-right: 9.87vw;
  width: 43.73vw;
  height: 52vw;
}
.mod .productWrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  flex-direction: row;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .product {
  width: 43.73vw;
  height: 43.73vw;
}
.mod .andy {
  position: relative;
  opacity: 1;
  margin-top: 4vw;
  max-width: 24.27vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .itemWrap {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin-right: 4.8vw;
  width: 59.33vw;
  height: 65.33vw;
}
.mod .colorDiv_3 {
  position: absolute;
  top: 13.47vw;
  left: 6.8vw;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .item {
  position: relative;
  width: 59.33vw;
  height: 57.33vw;
}
.mod .chris {
  position: relative;
  opacity: 1;
  margin-top: 3.73vw;
  max-width: 33.07vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .productWrap_2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 8.13vw;
  width: 46.27vw;
  height: 54.67vw;
}
.mod .color_4 {
  position: absolute;
  top: 2.67vw;
  right: 0.93vw;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .product_2 {
  position: relative;
  width: 46.27vw;
  height: 46.4vw;
}
.mod .lawrence {
  position: relative;
  opacity: 1;
  margin-top: 4vw;
  margin-left: 15.73vw;
  max-width: 28.93vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .block {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  height: 72.13vw;
}
.mod .itemLong {
  position: relative;
  width: 47.87vw;
  height: 64vw;
}
.mod .dan {
  position: relative;
  opacity: 1;
  margin-top: 3.87vw;
  margin-left: 23.47vw;
  max-width: 22.8vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .submain {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 0.93vw;
  height: 63.6vw;
}
.mod .group_3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 16.67vw;
  width: 43.73vw;
  height: 63.47vw;
}
.mod .founderamphost {
  position: relative;
  opacity: 1;
  max-width: 33.2vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .founderamphostNext {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  max-width: 27.33vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .itemWrap_2 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  flex-direction: row;
  margin-top: 10.13vw;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
}
.mod .item_2 {
  width: 43.73vw;
  height: 43.73vw;
}
.mod .block_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 15.2vw;
  height: 63.6vw;
}
.mod .cofounderamphost {
  position: relative;
  align-self: center;
  opacity: 1;
  max-width: 36vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .cofounderamphostNext {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  margin-left: 5.2vw;
  max-width: 36.93vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .productLongWrap {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 10.27vw;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  flex-direction: row;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .productLong {
  margin-left: 3.6vw;
  width: 30.67vw;
  height: 43.73vw;
}
.mod .group_4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 12.67vw;
  height: 63.47vw;
}
.mod .cofounderamphost_2 {
  position: relative;
  align-self: center;
  opacity: 1;
  max-width: 35.73vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .cofounderamphostNext_2 {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  margin-left: 15.2vw;
  max-width: 26.93vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .itemLongWrap {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 10.13vw;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  flex-direction: row;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .itemLong_2 {
  position: absolute;
  top: -0.13vw;
  right: 6.53vw;
  width: 30.53vw;
  height: 44.13vw;
}
.mod .itemWrap_3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  width: 43.87vw;
  height: 63.6vw;
}
.mod .colorDiv_4 {
  position: absolute;
  bottom: 0vw;
  align-self: center;
  border-style: solid;
  border-color: rgba(151, 151, 151, 1.00);
  width: 43.73vw;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.50);
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 8px;
  background-color: #c6c6c3;
  height: 43.73vw;
}
.mod .cofounderamphost_3 {
  position: relative;
  align-self: center;
  opacity: 1;
  max-width: 35.47vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .cofounderamphostNext_3 {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  margin-left: 17.6vw;
  max-width: 24.67vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .item_3 {
  position: relative;
  margin-top: 10.27vw;
  width: 43.87vw;
  height: 43.73vw;
}
.mod .row {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 4.93vw;
  height: 4.53vw;
}
.mod .jessica {
  opacity: 1;
  margin-right: 46.8vw;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .jessica_2 {
  opacity: 1;
  margin-right: 47.2vw;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .bryan {
  opacity: 1;
  margin-right: 47.6vw;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .rika {
  opacity: 1;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .row_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 0.8vw;
  height: 9.87vw;
}
.mod .group_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 22vw;
  height: 9.6vw;
}
.mod .cofounderamphost_4 {
  position: relative;
  opacity: 1;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .cofounderamphostNext_4 {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  margin-left: 4.93vw;
  max-width: 25.33vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .block_3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 26.67vw;
  width: 47.2vw;
  height: 9.6vw;
}
.mod .cofounderamphost_5 {
  position: relative;
  opacity: 1;
  max-width: 38.8vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .cofounderamphostNext_5 {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .group_6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 32.4vw;
  height: 9.6vw;
}
.mod .hostuk {
  position: relative;
  opacity: 1;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .hostukNext {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  margin-left: 1.07vw;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .block_4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33.6vw;
  height: 9.6vw;
}
.mod .classesResearch {
  position: relative;
  opacity: 1;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: ComicSansMS, Comic Sans MS;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .classesResearchNext {
  position: relative;
  opacity: 1;
  margin-top: 1.07vw;
  max-width: 19.47vw;
  height: 4.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.27vw;
  letter-spacing: 1.49;
  color: #212121;
  font-family: STSongti-SC-Regular, Songti SC;
  font-size: 3.73vw;
  font-weight: normal;
}
.mod .ft {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  margin-top: 2.53vw;
  width: 256.13vw;
  height: 213.6vw;
}
.mod .drgspingtairuanjianxitong {
  position: absolute;
  top: 92.27vw;
  right: 20.67vw;
  width: 2.53vw;
  height: 2.4vw;
}
.mod .empty {
  box-sizing: border-box;
  position: absolute;
  top: 90.13vw;
  right: 18.4vw;
  border-width: 3px;
  border-style: solid;
  border-radius: 48px;
  border-color: rgba(255, 255, 255, 1.00);
  width: 6.8vw;
  height: 6.8vw;
}
.mod .sign {
  position: absolute;
  top: 90.4vw;
  right: 29.6vw;
  opacity: 1;
  line-height: 5.47vw;
  color: #ffffff;
  font-size: 4.8vw;
  font-weight: 400;
}
.mod .group_11 {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  align-items: flex-start;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 1.00);
  background-color: #2c2c2c;
  width: 256.13vw;
  height: 100.4vw;
}
.mod .group_8 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 24.8vw;
  margin-left: 22vw;
  height: 8.67vw;
}
.mod .block_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 20.4vw;
  height: 8.67vw;
}
.mod .langmonde_3 {
  position: relative;
  opacity: 1;
  line-height: 2.67vw;
  letter-spacing: 2.4;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 400;
}
.mod .wechat {
  position: relative;
  opacity: 1;
  margin-top: 3.33vw;
  max-width: 10vw;
  height: 2.67vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .group_7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 24.4vw;
  height: 8.67vw;
}
.mod .podcast {
  position: relative;
  opacity: 1;
  line-height: 2.67vw;
  letter-spacing: 2.4;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 400;
}
.mod .itunes {
  position: relative;
  opacity: 1;
  margin-top: 3.33vw;
  max-width: 6.8vw;
  height: 2.67vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 21.87vw;
  height: 8.67vw;
}
.mod .video {
  position: relative;
  opacity: 1;
  line-height: 2.67vw;
  letter-spacing: 2.4;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 400;
}
.mod .douyin {
  position: relative;
  opacity: 1;
  margin-top: 3.33vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .outer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 8.67vw;
}
.mod .socialMedia {
  position: relative;
  opacity: 1;
  line-height: 2.67vw;
  letter-spacing: 2.4;
  color: #ffffff;
  font-size: 1.6vw;
  font-weight: 400;
}
.mod .facebook {
  position: relative;
  opacity: 1;
  margin-top: 3.33vw;
  margin-left: 0.13vw;
  max-width: 11.73vw;
  height: 2.67vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .container_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 2.13vw;
  margin-left: 22vw;
  height: 2.67vw;
}
.mod .touytiao {
  opacity: 1;
  margin-right: 24.4vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .ximalaya {
  opacity: 1;
  margin-right: 24.93vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .bilibili {
  opacity: 1;
  margin-right: 22.8vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .twitter {
  opacity: 1;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .block_6 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 2.13vw;
  margin-left: 22vw;
  height: 2.67vw;
}
.mod .bilinili {
  opacity: 1;
  margin-right: 26.93vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .qingti {
  opacity: 1;
  margin-right: 22vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .xigua {
  opacity: 1;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .group_9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 2.13vw;
  margin-left: 22vw;
  height: 2.67vw;
}
.mod .ximalaya_2 {
  opacity: 1;
  margin-right: 24.13vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .netease {
  opacity: 1;
  margin-right: 25.47vw;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .youtube {
  opacity: 1;
  line-height: 2.67vw;
  color: #9fa3a7;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .container_3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.93vw;
  margin-left: 185.73vw;
  width: 49.33vw;
  height: 4.13vw;
}
.mod .playing {
  margin-right: 12vw;
  width: 1.73vw;
  height: 3.87vw;
}
.mod .icon {
  margin-top: -0.67vw;
  margin-right: 12.13vw;
  width: 4.13vw;
  height: 3.2vw;
}
.mod .in {
  margin-top: 0.53vw;
  margin-right: 12.53vw;
  width: 4vw;
  height: 3.6vw;
}
.mod .nv {
  width: 2.8vw;
  height: 3.6vw;
}
.mod .div {
  position: relative;
  opacity: 0.1;
  margin-top: 11.73vw;
  margin-left: 12.93vw;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(255, 255, 255, 1.00);
  width: 224.13vw;
  height: 0.53vw;
}
.mod .langmonde_4 {
  position: relative;
  opacity: 1;
  margin-top: 0.8vw;
  margin-left: 22vw;
  max-width: 232.4vw;
  height: 6.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6.27vw;
  color: #ffffff;
  font-size: 5.6vw;
  font-weight: 400;
}
.mod .block_8 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 0.67vw;
  margin-left: 23.33vw;
  height: 25.87vw;
}
.mod .bg {
  margin-right: 7.87vw;
  width: 25.87vw;
  height: 25.87vw;
}
.mod .block_7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 7.6vw;
  margin-right: 73.73vw;
  height: 16.53vw;
}
.mod .desc_2 {
  position: relative;
  opacity: 1;
  max-width: 46.8vw;
  height: 2.67vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.67vw;
  color: #c8c8c8;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .word {
  position: relative;
  opacity: 1;
  margin-top: 2.67vw;
  max-width: 46.8vw;
  height: 2.67vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.67vw;
  color: #c8c8c8;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .info {
  position: relative;
  opacity: 1;
  margin-top: 5.87vw;
  line-height: 2.67vw;
  color: #c8c8c8;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .group_10 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7.07vw;
  border-radius: 20.5px;
  background-color: #ffffff;
  padding-right: 0.67vw;
  padding-left: 4.13vw;
  width: 40vw;
  height: 5.47vw;
}
.mod .email {
  opacity: 1;
  text-align: center;
  line-height: 2.67vw;
  color: #b5b8bb;
  font-family: .SFNS-Regular, .AppleSystemUIFont;
  font-size: 1.87vw;
  font-weight: 400;
}
.mod .xiugaigerenziliaoshenqingWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 34.021276595743984px;
  background-color: #ffc80a;
  width: 5.2vw;
  height: 4.53vw;
}
.mod .xiugaigerenziliaoshenqing {
  width: 2.4vw;
  height: 1.87vw;
}
.mod .banner {
  position: relative;
  margin-bottom: 99.33vw;
  margin-left: 0.27vw;
  width: 255.73vw;
  height: 114.27vw;
}
